
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet/less" type="text/css" href="/static/css/style.css"/>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
    <ul>
        <li><img class="a1"  src="/static/AiNhu/ainhu1.jpg" width="200">
          <div class="avt" >
            <img  src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              Chào mọi người. Mình là hủ giấm nhỏ 🤣
            </p>
          </div>
          <p>17-10-2021</p></li>
       <li><img class="a2" src="/static/AiNhu/ainhu2.jpg" width="200">
          <div class="avt1" >
            <img src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              Cảm ơn tất cả mọi người rất rất nhiềuuuuuu !!!!!! Cứ tưởng sinh nhật năm nay bể tan tành rồi ấy vì covid nên không có bạn bè, người thân bên cạnh 🙁 Nhưng lại có những niềm vui khác, những thứ ngoài kế hoạch bù lại 🥳 và hnay làm mh nhận ra rất rất nhiều thứ.Lần nữa cảm ơn lời chúc của tất cả bạn bè gần xa , những bạn đã support mình!!🥰26thang6
            </p>
          </div>
          <p>27-06-2021</p></li>
        <li><img class="a3" src="/static/AiNhu/ainhu3.jpg" width="200">
          <div class="avt2" >
            <img src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              This girl’s in love with you 🥰
            </p>
          </div>
          <p>7-5-2021</p></li>
        <li><img class="a4" src="/static/AiNhu/ainhu4.jpg" width="200">
          <div class="avt3" >
            <img src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              Cho đăng hình miếng ik :))
            </p>
          </div>
          
          <p>21-2-2021</p></li>
        <li><img class="a5" src="/static/AiNhu/ainhu5.jpg" width="200">
          <div class="avt4" >
            <img src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              Hy vọng bản thân sẽ sống thật vui vẻ và làm điều mình yêu thích. Khi mệt mỏi hãy dừng lại một chút, hít một hơi thật dài. Sau đó tiếp tục sống cuộc đời mà mình mong muốn.
Life is so hard.
            </p>
          </div>
          <p>13-2-2021</p></li>
        <li><img class="a6" src="/static/AiNhu/ainhu6.jpg" width="200">
          <div class="avt5" >
            <img src="/static/Ainhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              Sao tâm trạng cứ ngang ngang thế nhờ !?
            </p>
          </div>
          <p>21-12-2020</p></li>
        <li><img class="a7" src="/static/AiNhu/ainhu7.jpg" width="200">
          <div class="avt6">
            <img src="/static/AiNhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              “Ánh trăng hôm nay đẹp quá“
            </p>
          </div>
          <p>5-10-2020</p></li>
        <li><img class="a8" src="/static/AiNhu/ainhu8.jpg" width="200">
          <div class="avt8" >
            <img src="/static/AiNhu/avatar.jpg" alt="avat">
            <p class="name">anhphn_</p>
            <p class="title">
              No filter
            </p>
          </div>
          <p>2-10-2020</p></li>
        <li><img class="a9" src="/static/AiNhu/ainhu9.jpg" width="200">
            <div class="avt9" >
              <img src="/static/AiNhu/avatar.jpg" alt="avat">
              <p class="name">anhphn_</p>
              <p class="title">
                The most difficult phase of life is not when no one understands you, it is when you don’t understand yourself.
———
🧩
              </p>
            </div>
            <p>7-8-2020</p></li>
            <li><img class="a10" src="/static/AiNhu/outbeloved.gif" width="200">
                    
              <p>Our Beloved Summer</p></li>
          <li><img class="a11" src="/static/AiNhu/ainhu10.jpg" width="200">
              <div class="avt11" >
                <img src="/static/AiNhu/avatar.jpg" alt="avat">
                <p class="name">anhphn_</p>
                <p class="title">
                  Chờ đợi 🐾
                </p>
              </div>
              <p>4-7-2020</p></li>
              <li><img class="a10" src="/static/AiNhu/oubeloved1.gif" width="200">
                <p>Cute</p></li>
          <li><img class="a12" src="/static/AiNhu/ainhu11.jpg" width="200">
                <div class="avt12" >
                  <img src="/static/AiNhu/avatar.jpg" alt="avat">
                  <p class="name">anhphn_</p>
                  <p class="title">
                    Nếu khoảng cách giữa em và anh là 1000 bước thì em xin bước về nhà. Nhà bao việc...=)))
                  </p>
                </div>
                <p>29-9-2019</p></li>
          <li><img class="a13" src="/static/AiNhu/ainhu12.jpg" width="200">
                  <div class="avt13" >
                    <img src="/static/AiNhu/avatar.jpg" alt="avat">
                    <p class="name">anhphn_</p>
                    <p class="title">
                      Mắt buồn như thất tình 🥺
                    </p>
                  </div>
                  <p>9-7-2019</p></li>
                    
        <li><img id="question" src="/static/AiNhu/baolixi.png" width="200">
          
      </ul>
      <div class="light"></div>

      <div class="happy">
        <h1>
          <span>H</span>
          <span>A</span>
          <span>P</span>
          <span>P</span>
          <span>Y</span>
          
        </br>
          <span>N</span>
          <span>E</span>  
          <span>W</span>
        </br>
        <span>Y</span>
        <span>E</span>  
        <span>A</span>
        <span>R</span>
      </br>
      <span>Á</span>
      <span>I</span>  
      <span>&nbsp;</span>  
      <span>N</span>
      <span>H</span>
      <span>Ư</span>
        </h1>
      
      </div>
    
      <div class="word"></div>
      <div class="box-audio" > 
          <audio id="player" src="/static/AiNhu/outbeloved.mp3"></audio>
          <div class="player">
            <div class="control">
              <i class="fas fa-play" id="playbtn"></i>
            </div>
            <div class="info">
              Outbeloved Summer
              <div class="bar">
                <div id="progress"></div>
              </div>
            </div>
            <div id="current">0:00</div>
          </div>
      </div>
      

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
  
    var listTitle=document.querySelectorAll("li");
    
    listTitle.forEach(e=>{
      e.addEventListener("mouseover",()=>{
        
         e.children[1].style.display="block";
      })
      e.addEventListener("mouseout",()=>{
         e.children[1].style.display="none";
      })
    })
    document.getElementById("question").addEventListener("click",()=>{
            window.location.href = "/lixi";
    })
    var words = ['Chúc Ái Như năm mới vui vẻ', 'Chúc Ái Như ngày càng xinh đẹp', 'Cực kì thành công trong năm mới', 'Có nhiều bạn tốt hơn nữa', 'hihihi'],
    part,
    i = 0,
    offset = 0,
    len = words.length,
    forwards = true,
    skip_count = 0,
    skip_delay = 15,
    speed = 70;
  var wordflick = function () {
    setInterval(function () {
      if (forwards) {
        if (offset >= words[i].length) {
          ++skip_count;
          if (skip_count == skip_delay) {
            forwards = false;
            skip_count = 0;
          }
        }
      }
    else {
      if (offset == 0) {
        forwards = true;
        i++;
        offset = 0;
        if (i >= len) {
          i = 0;
        }
      }
    }
    part = words[i].substr(0, offset);
    if (skip_count == 0) {
      if (forwards) {
        offset++;
      }
      else {
        offset--;
      }
    }
    $('.word').text(part);
  },speed);
};

$(document).ready(function () {
  wordflick();
});


var getaudio = $('#player')[0],
     mouseovertimer,
     audiostatus = 'off',
     playerControls = ".player-controls";

$(document).on('mouseenter', playerControls, function() {
   
   if (!mouseovertimer) {
      
      mouseovertimer = window.setTimeout(function() {
         
         mouseovertimer = null;
         
         if (!$(playerControls).hasClass("playing")) {
            
            getaudio.load();
            getaudio.play();            
            $(playerControls).addClass('playing');
            return false;
            
         }
         
      }, 2500);
      
   }
   
});

$(document).on('mouseleave', playerControls, function() {
   
   if (mouseovertimer) {
      
      window.clearTimeout(mouseovertimer);
      mouseovertimer = null;
      
   }
   
});

$(document).on('click touch', playerControls, function(e) {
   
   e.preventDefault();
   
   if (!$(playerControls).hasClass("playing")) {

      if (audiostatus == 'off') {
         
         $(playerControls).addClass('playing');
         getaudio.load();
         getaudio.play();
         window.clearTimeout(mouseovertimer);
         audiostatus = 'on';
         return false;
         
      } else if (audiostatus == 'on') {
         
         $(playerControls).addClass('playing');
         getaudio.play();
         
      }
      
   } else if ($(playerControls).hasClass("playing")) {
      
      getaudio.pause();
      $(playerControls).removeClass('playing');
      window.clearTimeout(mouseovertimer);
      audiostatus = 'on';
      
   }
   
   return false;
   
});

$('#player').on('ended', function() {
   
   $(playerControls).removeClass('playing');
   audiostatus = 'off';
   
});


var player = document.getElementById("player");
let progress = document.getElementById("progress");
let playbtn = document.getElementById("playbtn");

var playpause = function () {
  if (player.paused) {
    player.play();
  } else {
    player.pause();
  }
}

playbtn.addEventListener("click", playpause);

player.onplay = function () {
  playbtn.classList.remove("fa-play");
  playbtn.classList.add("fa-pause");
}

player.onpause = function () {
  playbtn.classList.add("fa-play");
  playbtn.classList.remove("fa-pause");
}

player.ontimeupdate = function () {
  let ct = player.currentTime;
  current.innerHTML = timeFormat(ct);
  //progress
  let duration = player.duration;
  prog = Math.floor((ct * 100) / duration);
  progress.style.setProperty("--progress", prog + "%");
}

function timeFormat(ct) {
  minutes = Math.floor(ct / 60);
  seconds = Math.floor(ct % 60);

  if (seconds < 10) {
    seconds = "0"+seconds;
  }

  return minutes + ":" + seconds;
}


</script>
</html>
